header.header {
  background: var(--blue);
  padding-top: 2rem;

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1120px;
    padding: 2rem 1rem 12rem;
  }
}
